<div
	class="rounded-lg border border-grey-1 dark:border-none p-4 bg-light-card-bg dark:bg-dark-card-bg grid-cols-1 grid gap-y-2">
	<div class="flex flex-nowrap gap-x-2">
		<a class="h-12 shrink-0 w-12 z-10" routerLink="/profile/{{ post.user.id }}">
			<img
				alt="Rounded avatar"
				class="w-12 h-12 rounded-full shrink"
				height="12"
				[ngSrc]="
					post.user.profilePicture && post.user.profilePicture.id
						? environment.backendUrl + '/files/' + post.user.profilePicture.id
						: 'https://picsum.photos/400'
				"
				width="12" />
		</a>
		<div class="grow space-y-2">
			<a class="h-fit" routerLink="/profile/{{ post.user.id }}">
				<p class="post-mini-name text-secondary">
					{{ post.user.firstName + ' ' + post.user.lastName }}
				</p>
				<p class="post-mini-pseudo text-grey-3 dark:text-grey-2">
					&#64;{{ post.user.username }}
				</p>
			</a>
			<p>
				<a class="h-fit" routerLink="/post/{{ post.id }}">{{ post.text }}</a>
			</p>
			<a class="h-fit" routerLink="/post/{{ post.id }}">
				<div class="flex justify-end gap-x-3">
					<span class="flex items-center gap-x-1">
						<app-icon icon="thumb_up"></app-icon>
						<span>{{ post.likes }}</span>
					</span>
					<span class="flex items-center gap-x-1">
						<app-icon icon="comment"></app-icon>
						<span>{{ post.comments }}</span>
					</span>
				</div>
			</a>
		</div>
	</div>
	@if (post.version) {
		<app-version-minified-link
			[version]="post.version"></app-version-minified-link>
	}
</div>
