<header
	class="h-20 border-b border-b-secondary p-5 flex justify-between items-center">
	<a class="h-full w-fit" routerLink="/">
		<img
			[ngSrc]="
				isDarkMode
					? '../../../../assets/images/logos/logo-dark-theme.svg'
					: '../../../../assets/images/logos/logo-light-theme.svg'
			"
			alt="logo light mode"
			class="object-contain h-full w-fit"
			height="149"
			priority
			width="164" />
	</a>

	@if (loggedInUser) {
		<input
			class="ps-2 h-10 w-[500px] rounded-b-xl border bg-grey-bg border-grey-2 dark:bg-grey-bg-dark dark:border-grey-3"
			type="text"
			placeholder="Search Post or Pipeline"
			i18n-placeholder="@@search_post_or_pipelien" />
	}
	@if (!loggedInUser) {
		<a routerLink="/auth">
			<button class="header-nav-item group">
				<div class="flex items-center">
					<ng-container i18n="@@log.in">Sign in</ng-container>
					<app-icon
						[filled]="true"
						icon="arrow_right_alt"
						class="ps-2"></app-icon>
				</div>
				<app-underline></app-underline>
			</button>
		</a>
	}

	@if (loggedInUser) {
		<button (click)="logout()" class="header-nav-item group">
			<div class="flex items-center">
				<ng-container i18n="@@log.out">Log out</ng-container>
				<app-icon
					[filled]="true"
					icon="arrow_right_alt"
					class="ps-2"></app-icon>
			</div>
			<app-underline></app-underline>
		</button>
	}
</header>
