<div class="flex flex-col items-center w-full">
	<ng-container *ngIf="userGroups && userGroups.length > 0; else noGroups">
		<div
			*ngFor="let group of userGroups"
			class="mb-6 flex items-center w-full max-w-2xl">
			<a [routerLink]="'/group/' + group.id" class="flex-shrink-0">
				<img
					[src]="
						group.profilePicture
							? environment.backendUrl + '/files/' + group.profilePicture
							: 'https://cdn-icons-png.freepik.com/512/10017/10017806.png'
					"
					alt="{{ group.name }}"
					class="w-20 h-20 rounded-full mr-6" />
			</a>
			<div class="flex-grow">
				<a [routerLink]="'/group/' + group.id">
					<h3 class="text-lg font-semibold text-white">{{ group.name }}</h3>
					<p class="text-sm text-gray-500">
						{{ group.memberCount || 0 }} members
					</p>
				</a>
			</div>
		</div>
	</ng-container>
	<ng-template #noGroups>
		<p class="text-gray-400">No groups joined</p>
	</ng-template>
</div>
