<div
	class="relative rounded-lg border border-grey-1 dark:border-none p-4 bg-light-card-bg dark:bg-dark-card-bg">
	<a [routerLink]="'/post/' + post.id">
		<div class="flex flex-nowrap gap-x-2">
			<a [routerLink]="'/profile/' + post.user.id">
				<img
					alt="Rounded avatar"
					class="w-12 h-12 rounded-full shrink"
					height="12"
					[src]="profilePictureUrl$ | async"
					width="12" />
			</a>
			<div class="grow space-y-2">
				<a [routerLink]="'/profile/' + post.user.id" class="block">
					<p class="post-mini-name text-secondary">
						{{ post.user.firstName + ' ' + post.user.lastName }}
					</p>
					<p class="post-mini-pseudo text-grey-3 dark:text-grey-2">
						&#64;{{ post.user.username }}
					</p>
				</a>
				<p>{{ post.text }}</p>
				<div class="flex justify-end gap-x-3">
					<span class="flex items-center gap-x-1">
						<app-icon icon="thumb_up"></app-icon>
						<span>{{ post.likes }}</span>
					</span>
					<span class="flex items-center gap-x-1">
						<app-icon icon="comment"></app-icon>
						<span>{{ post.comments }}</span>
					</span>
				</div>
			</div>
		</div>
	</a>
	<div
    *ngIf="isOwnProfile"
		class="absolute top-0 right-0 mt-2 mr-2"
		(click)="$event.stopPropagation()"
		(keydown.enter)="$event.stopPropagation()"
		tabindex="0">
		<div class="relative inline-block text-left">
			<button
				type="button"
				class="p-1 rounded-full bg-light-card-bg dark:bg-dark-card-bg"
				(click)="toggleMenu()"
				(keydown.enter)="toggleMenu()"
				tabindex="0">
				<app-icon icon="more_vert"></app-icon>
			</button>
			<div
				*ngIf="showMenu"
				class="absolute right-0 mt-1 w-48 bg-white dark:bg-dark-card-bg border border-grey-1 dark:border-grey-3 rounded-lg shadow-lg z-10">
				<button
					type="button"
					class="block w-full text-left px-4 py-2 text-sm text-grey-3 dark:text-grey-2 hover:bg-grey-1 dark:hover:bg-grey-3"
					(click)="pinPost(post.id)"
					(keydown.enter)="pinPost(post.id)"
					tabindex="0">
					Epingler le post
				</button>
				<button
					type="button"
					class="block w-full text-left px-4 py-2 text-sm text-grey-3 dark:text-grey-2 hover:bg-grey-1 dark:hover:bg-grey-3"
					(click)="deletePost(post.id)"
					(keydown.enter)="deletePost(post.id)"
					tabindex="0">
					Supprimer le post
				</button>
			</div>
		</div>
	</div>
</div>
