<div class="mx-2 pt-2 overflow-y-scroll">
	<label class="inline-flex items-center cursor-pointer">
		<input
			[formControl]="personalPipelinesOnly"
			class="sr-only peer"
			type="checkbox"
			value="" />
		<div
			class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-secondary peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary"></div>
		<span
			class="first-letter:capitalize ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
			><span i18n="@@input">Input</span> ?</span
		>
	</label>

	<div class="flex w-full">
		<a
			routerLink="/{{ codeRoutePath }}/{{ pipelineRoutePath }}/{{
				CodePipelineRoutes.New
			}}"
			class="ml-auto group peer-focus:hidden sm:peer-focus:block">
			<div class="flex items-center">
				<span i18n="@@pipeline.create" class="hidden sm:block"
					>createCodeTranslated</span
				>
				<app-icon [filled]="false" icon="add_circle" class="ps-2"></app-icon>
			</div>
			<app-underline></app-underline>
		</a>
	</div>
	<div class="flex flex-col h-full gap-y-2 mt-2">
		@if (pipelines$ | async; as pipelines) {
			@if (pipelines.length) {
				<ng-container>
					<ng-container *ngFor="let pipeline of pipelines">
						<app-personal-pipelines-item
							[pipeline]="pipeline"></app-personal-pipelines-item>
					</ng-container>
				</ng-container>
			}
		}
	</div>
</div>
