<a routerLink="/code/{{ code.id }}">
	<div
		class="rounded-lg border border-grey-1 dark:border-grey-3 p-4 bg-light-card-bg dark:bg-dark-card-bg hover:border-b-grey-2 cursor-pointer">
		<div class="flex flex-nowrap gap-x-2">
			<app-icon class="text-primary" icon="code"></app-icon>
			<div class="grow space-y-2">
				<div>
					<p class="post-mini-name text-secondary">
						{{ code.title }}
					</p>
					<div class="post-mini-pseudo text-grey-3 dark:text-grey-2">
						<a
							routerLink="/user/{{ code.author.id }}"
							class="flex flex-nowrap gap-x-2 items-center w-fit">
							<span
								><span i18n="@@by">de</span>: &#64;{{
									code.author.lastName
								}}</span
							>
							<img
								alt="Rounded avatar"
								class="w-5 h-5 rounded-full shrink"
								height="12"
								ngSrc="https://pbs.twimg.com/profile_images/1568802877933588482/Pnwh7rKm_400x400.jpg"
								width="12" />
						</a>
					</div>
				</div>
				<p>{{ code.description }}</p>
				<div class="flex justify-end gap-x-3 text">
					<span class="flex items-center gap-x-1">
						<span class="text-secondary" i18n="@@language">language</span>:
						<span>{{ code.language }}</span>
					</span>
				</div>
				<div class="flex justify-end gap-x-3 text">
					<span class="flex items-center gap-x-1">
						<span class="text-secondary" i18n="@@latest-version"
							>Latest Version</span
						>:
						<span
							*ngIf="code.versions && code.versions.length; else draftTemplate"
							>{{ code.versions[code.versions.length - 1].version }}</span
						>
						<ng-template #draftTemplate>
							<span i18n="@@draft">draft</span
							><app-icon size="small" icon="draft"></app-icon
						></ng-template>
					</span>
				</div>
			</div>
		</div>
	</div>
</a>
