<div class="items-center gap-x-2 w-48">
	<p class="first-letter:capitalize text-center">
		<!--		<span i18n="@@step">Step</span>: {{ step.step }}-->
		{{ step.step }}
	</p>
	<div class="border-s-2 border-secondary ps-2 grow">
		<p class="font-medium first-letter:capitalize">
			{{ step.version.title }}
		</p>
		<p class="first-letter:capitalize">
			{{ step.version.version }}
		</p>
		@if (step.version.input.length) {
			<div class="flex flex-nowrap gap-x-2">
				<p>
					<span class="font-medium first-letter:capitalize" i18n="@@input"
						>input
					</span>
					<span>: {{ step.version.input[0].fileType }}</span>
				</p>
				<div class="grow"></div>
				<p>
					<span class="font-medium first-letter:capitalize" i18n="@@output"
						>input
					</span>
					<span>: {{ step.version.output[0].fileType }}</span>
				</p>
			</div>
		}
	</div>
</div>
