<div
	class="rounded-lg border border-grey-1 dark:border-none p-4 bg-light-card-bg dark:bg-dark-card-bg relative">
	<div class="flex justify-between items-center mb-2">
		<span class="text-sm font-semibold text-primary flex items-center">
			<app-icon icon="push_pin" class="mr-1"></app-icon>
			Epinglé
		</span>
		<!-- Three Dots Menu -->
		<div class="relative inline-block text-left">
			<button
				type="button"
				class="inline-flex justify-center w-full rounded-md shadow-sm px-2 py-1 bg-light-card-bg dark:bg-dark-card-bg text-sm font-medium"
				(click)="toggleMenu()"
				aria-expanded="true"
				aria-haspopup="true"
				style="color: var(--light-bg)">
				<svg
					class="w-5 h-5"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg">
					<path
						fill-rule="evenodd"
						d="M10 3a1.5 1.5 0 100 3 1.5 1.5 0 000-3zM10 8a1.5 1.5 0 100 3 1.5 1.5 0 000-3zM10 13a1.5 1.5 0 100 3 1.5 1.5 0 000-3z"
						clip-rule="evenodd" />
				</svg>
			</button>
			<div
				class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
				role="menu"
				aria-orientation="vertical"
				*ngIf="showMenu">
				<div class="py-1" role="none">
					<a
						href="#"
						class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900"
						role="menuitem"
						(click)="unpinPost(post.id)"
						>Désépingler le post</a
					>
					<a
						href="#"
						class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900"
						role="menuitem"
						(click)="deletePost(post.id)"
						>Supprimer le post</a
					>
				</div>
			</div>
		</div>
	</div>
	<a [routerLink]="'/posts/' + post.id">
		<div class="flex flex-nowrap gap-x-2">
			<img
				alt="Rounded avatar"
				class="w-12 h-12 rounded-full shrink"
				height="12"
				[src]="profilePictureUrl$ | async"
				width="12" />
			<div class="grow space-y-2">
				<p class="post-mini-name text-secondary">
					{{ post.user.firstName + ' ' + post.user.lastName }}
				</p>
				<p class="post-mini-pseudo text-grey-3 dark:text-grey-2">
					&#64;{{ post.user.username }}
				</p>
				<p>{{ post.text }}</p>
				<div class="flex justify-end gap-x-3">
					<span class="flex items-center gap-x-1">
						<app-icon icon="thumb_up"></app-icon>
						<span>{{ post.likes }}</span>
					</span>
					<span class="flex items-center gap-x-1">
						<app-icon icon="comment"></app-icon>
						<span>{{ post.comments }}</span>
					</span>
				</div>
			</div>
		</div>
	</a>
</div>
