@if (code) {
	@if (mode === 'viewing') {
		<div
			class="max-h-full overflow-y-scroll rounded-lg border border-grey-1 dark:border-grey-3 bg-light-card-bg dark:bg-dark-card-bg mt-2 mx-2 p-4 grid grid-cols-1 gap-y-2">
			<h2 class="header-2 text-primary">{{ code.title }}</h2>
			<div class="flex flex-nowrap items-center gap-2">
				<button (click)="swapVisibility()">
					<!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
					<label
						[ngClass]="{
							swap: true,
							'swap-active': code.status === CodeStatus.active
						}">
						<div class="swap-on">
							<app-icon icon="visibility"></app-icon>
						</div>
						<div class="swap-off">
							<app-icon icon="visibility_off"></app-icon>
						</div>
					</label>
				</button>
				<span i18n="@@visibility.private">visibilité: privée</span>
				<span i18n="@@visibility.public">visibilité: privée</span>
			</div>
			<p>
				<a
					routerLink="/user/{{ code.author.id }}"
					class="flex flex-nowrap gap-x-2 items-center w-fit">
					<span
						><span
							class="inline-block first-letter:uppercase"
							i18n="@@written-by"
							>de</span
						>: &#64;{{ code.author.lastName }}</span
					>
					<img
						alt="Rounded avatar"
						class="w-5 h-5 rounded-full shrink"
						height="12"
						ngSrc="https://pbs.twimg.com/profile_images/1568802877933588482/Pnwh7rKm_400x400.jpg"
						width="12" />
				</a>
			</p>
			@if (code.input.length) {
				<p class="text-sm first-letter:capitalize">
					<span i18n="@@input">input</span>:
					<span>({{ code.input[0].fileType }})</span>
					{{ code.input[0].description }}
				</p>
			}
			@if (code.output.length) {
				<p class="text-sm first-letter:capitalize">
					<span i18n="@@output">output</span>:
					<span>({{ code.output[0].fileType }})</span>
					{{ code.output[0].description }}
				</p>
			}
			<p>{{ code.description }}</p>
			<div>
				<span class="header-3 text-secondary"
					><h3 class="inline-block first-letter:capitalize" i18n="@@last-draft">
						Brouillon actuel
					</h3>
					:</span
				>

				<pre><code class="text-xs" [highlightAuto]="code.draft" lineNumbers></code></pre>
			</div>
			<app-button
				type="submit"
				(click)="handleEdit()"
				[text]="editStringTranslated"></app-button>

			<details #testHistoryElement open class="collapse collapse-arrow">
				<summary class="collapse-title">
					<h3
						class="header-3 text-secondary first-letter:capitalize"
						i18n="@@code.run-test">
						test this code
					</h3>
				</summary>
				<div class="collapse-content">
					<div class="grid grid-cols-1 gap-y-2">
						<div class="flex flex-nowrap gap-2">
							<app-button
								(click)="testCode()"
								class="shrink-0"
								text="Run Test"
								[disabled]="!!hasInput.value && !fileInput.value"></app-button>
							@if (hasInput.value) {
								<div class="w-full grow">
									<label
										class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
										i18n="@@fileInput.ask_upload"
										for="file_input"
										>Please upload a file to serve as the input for this test
										run</label
									>
									<input
										class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600"
										(change)="handleFileInputChange($event)"
										id="file_input"
										type="file" />
									<p class="mt-1 text-sm text-grey-2" id="file_input_help">
										(MAX. 2MB).
									</p>
								</div>
							}
						</div>

						<app-code-report-history
							[testRuns]="testRuns"></app-code-report-history>
					</div>
				</div>
			</details>

			@if (code.versions.length <= 0) {
				<p class="text-grey-2 italic capitalize" i18n="@@no-versions-yet">
					no versions yet
				</p>
			}
			@if (code.versions.length > 0) {
				<h3>
					<span class="header-3 text-secondary capitalize" i18n="@@versions"
						>versions</span
					>:
				</h3>
			}
			@for (version of code.versions; track version) {
				<div class="rounded-lg border border-grey-1 dark:border-grey-3 p-2">
					<h4 class="header-4">
						<span class="text-primary">{{ version.version }} </span
						><span>{{ version.title }}</span>
					</h4>
					<p class="mb-2 text-grey-2 text-xs italic">
						<span i18n="@@posted.on">posted on</span>
						{{ version.createdAt | date: 'medium' }}
					</p>
					<p class="mb-2">{{ version.description }}</p>
					@if (version.input.length) {
						<p class="text-sm capitalize">
							<span i18n="@@input">input</span>:
							{{ version.input[0].description }}
						</p>
					}
					@if (version.output.length) {
						<p class="text-sm capitalize">
							<span i18n="@@output">output</span>:
							{{ version.output[0].description }}
						</p>
					}
					<pre><code class="text-xs max-h-60 overflow-y-scroll" [highlightAuto]="version.codeContent"
                     lineNumbers></code></pre>
				</div>
			}
		</div>
	} @else {
		@if (code.versions.length) {
			<app-create-code-form
				[code]="code"
				(successSubmit)="handleSuccess()"
				(cancel)="handleCancel()"
				mode="createVersion"></app-create-code-form>
		} @else {
			<app-create-code-form
				[code]="code"
				mode="updateCode"
				(cancel)="handleCancel()"
				(successSubmit)="handleSuccess()"></app-create-code-form>
		}
	}
}
