<div class="h-full flex flex-col gap-y-2 mx-2 pt-2">
	<form [formGroup]="postForm">
		<textarea
			class="w-full resize-none rounded-lg outline-none border border-grey-1 dark:border-grey-3 bg-grey-bg dark:bg-grey-bg-dark p-4 placeholder:text-grey-2"
			[formControl]="textControl"
			rows="3"
			i18n-placeholder="@@post.write"
			placeholder="Écrire un post"></textarea>
		@if (displayCodeSelector) {
			<app-version-selector
				(versionSelected)="attachVersion($event)"
				(close)="
					toggleCodeSelector(!displayCodeSelector)
				"></app-version-selector>
		}
		<div class="flex justify-end gap-x-2">
			@if (textControl.value.length) {
				<app-button
					[disabled]="postForm.invalid"
					class="self-end"
					[text]="linkACode"
					(click)="toggleCodeSelector(!displayCodeSelector)"></app-button>
			}
			<app-button
				(click)="createPost()"
				[disabled]="postForm.invalid"
				class="self-end"
				[text]="publishText"
				type="submit"></app-button>
		</div>
	</form>
	@if (posts$ | async; as posts) {
		@if (posts.length) {
			<ng-container>
				<ng-container *ngFor="let post of posts">
					<app-timeline-post [post]="post"></app-timeline-post>
				</ng-container>
			</ng-container>
		}
	}
</div>
