@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css'; /* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
	--primary: #f1895c;
	--primary-accent: #dd6e7b;
	--secondary: #516079;
	--light-bg: #fffcfa;
	--dark-bg: #2e3244;
	--light-card-bg: #ffffff;
	--dark-card-bg: #3a3f54;
	--grey-bg: #f2f2f2;
	--grey-bg-dark: #2e2e2e;
	--grey-1: #d9d9d9;
	--grey-2: #a6a6a6;
	--grey-3: #595959;
	--text-main-color: #2e2e2e;
	--text-main-dark-color: #e7e9ea;
}

body {
	@apply bg-light-bg text-text-main-color dark:bg-dark-bg dark:text-text-main-dark-color;
}

.header-nav-item {
	@apply font-semibold text-lg sm:text-xl;
}

.header-2 {
	@apply text-3xl font-medium;
}

.header-3 {
	@apply text-2xl font-medium;
}

.header-4 {
	@apply text-xl font-medium;
}

.header-5 {
	@apply text-lg font-normal;
}

.post-mini-name {
	@apply font-medium text-[1em];
}

.post-mini-pseudo {
	@apply text-[1em];
}
